html, body {
  height: 100%;
}

.container {
  height: 100%;
}

.chatroom {
  height: 60%;
  overflow-x: scroll;
  margin-bottom: 1em;
}

.editor {
  height: 20%;
}

.msgtimestamp::before {
  content: '  ';
}

.msgtimestamp {
  font-size: 10px;
}

.msgcontent {
  padding-left: 2em;
}

.msgimg {
  padding-left: 2em;
  background: white;
  width: 80%;
}

#mycanvas {
  background: white;
}
