<!DOCTYPE html>
<html>
  <head>
    {% include 'site/head.html' %}
    <link rel="stylesheet" href="/~aneesh/blog/static/style.css">
    <title>/~aneesh/blog - {{post.title()}}</title>
  </head>
  <body>
    <div class="container">
      <div class="siteheading">
        {% include 'site/heading.html' %}
      </div>
      <div class="post">
        <div class="postheader">
          <div class="posttitle">
            {{post.title()}}
          </div>
          <br>
          {{post.preview}}
          <hr class="postbreak">
        </div>
        <div class="postbody">
          {{post.body}}
        </div>
        <div class="postlistentry-date">
          Written on {{post.year}}/{{post.month}}/{{post.day}}
        </div>
      </div>
    </div>
    {% include 'site/footer.html' %}
  </body>
</html>
